*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    text-align: center;
    margin-top: 40px;
    font-size: 45px;
    font-weight: bold;

}

.frameworks{

    margin-top: 10%;
    display: flex;
    justify-content: center;
    gap: 30px;

}


.framework{

    color: white;
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
    flex-direction: column;

}

.logo{

    width: 60px;
    height: 60px;
    margin-bottom: 10px;
}

.react:hover{
    color: #61dafb;

}

.angular:hover{

    color: #eb068c;
}


.vue:hover {

    color: #41b883;
}


.tailwind:hover{

    color: #38bdf8;
}

.bootstrap:hover{

    color: #7952b3;
}


.framework:hover .logo{

    filter: drop-shadow(0 0 10px currentColor);
}



.card-div{

    background: #1a1a1a;
    padding: 20px;
    width: 230px;
    text-align: center;
    border-radius: 12px;

}


.vote-btn{

    margin-top: 20px;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    background: white;
    color: black;
    font-weight: bold;
}


.vote-bar-div{

    width: 100%;
    height: 15px;
    background-color: #333;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 20px;

}


.vote-bar{

    height: 100%;
    width: 0%;
    transition: width 0.4s ease;

}


.vote-count{
    display: block;
    margin-top: 15px;
    font-size: 22px;
    font-weight: bold;
}


.card-div:nth-child(1) .vote-bar{

    background: #61dafb;
}


.card-div:nth-child(2) .vote-bar{
    background: #eb068c;

}

.card-div:nth-child(3) .vote-bar{

    background: #41b883;

} 

.card-div:nth-child(4) .vote-bar{
    background: #38bdf8;

}


.card-div:nth-child(5) .vote-bar{
    background: #7952b3;

}


.card-div:nth-child(1){

    box-shadow: 0 0 15px #61dafb;
}



.card-div:nth-child(2){


    box-shadow: 0 0 15px #eb068c;
}

.card-div:nth-child(3){

    box-shadow: 0 0 15px #41b883;

}

.card-div:nth-child(4){

    box-shadow: 0 0 15px #38bdf8;

}

.card-div:nth-child(5){

    box-shadow: 0 0 15px #7952b3;

}
