*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    text-align: center;
    margin-top: 40px;
    font-size: 45px;
    font-weight: bold;

}

.frameworks{

    margin-top: 18%;
    display: flex;
    justify-content: center;
    gap: 80px;

}


.framework{

    color: white;
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo{

    width: 60px;
    height: 60px;
    margin-bottom: 10px;
}

.react:hover{
    color: #61dafb;

}

.angular:hover{

    color: #eb068c;
}


.vue:hover {

    color: #41b883;
}


.tailwind:hover{

    color: #38bdf8;
}

.bootstrap:hover{

    color: #7952b3;
}


.framework:hover .logo{

    filter: drop-shadow(0 0 10px currentColor);
}



.vote-div{

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

}

.vote-btn{

    padding: 10px 20px;
    cursor: pointer;
    border: none;
}


.vote-bar-div{
    width: 200px;
    height: 20px;
    background-color: #333;
    border-radius: 10px;
    overflow: hidden;

}

.vote-bar{

    height: 100%;
    width: 0%;
    transition: width 0.4s ease;
}


.vote-count{

    font-weight: bold;
}


.vote-div:nth-child(1) .vote-bar{

    background: #61dafb;
}


.vote-div:nth-child(2) .vote-bar{
    background: #dd0331;

}

.vote-div:nth-child(3) .vote-bar{

    background: #41b883;

} 

.vote-div:nth-child(4) .vote-bar{
    background: #38bdf8;

}


.vote-div:nth-child(5) .vote-bar{
    background: #7952b3;

}


