*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif
}

h1{
    text-align: center;
    margin-top: 40px;
    font-size: 45px;
    font-weight: bold;

}

.frameworks{

    margin-top: 18%;
    display: flex;
    justify-content: center;
    gap: 80px;

}


.framework{

    color: white;
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo{

    width: 60px;
    height: 60px;
    margin-bottom: 10px;
}