*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif
}

h1{
    text-align: center;
    margin-top: 30px;
    font-size: 40px;
    font-weight: bold;
}

.frameworks{
    margin-top: 15%;
}