*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #cf114a;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    
}

.heading{

    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 20px;
    padding-left: 20px;

}

.logo{

    width: 70px;
    height: 70px;
    background-color: black;
    border-radius: 50%;
}


.intro{

    margin-top: 20px;
    font-size: 20px;
    padding-left: 20px;

}


.back-btn{

    position: fixed;
    top: 15px;
    right: 20px;
    background-color: black;
    color: #cf114a;
    padding: 10px 18px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 30px;
    text-decoration: none;

}


.back-btn:hover{
    color: #ff0080;
}
