*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #cf114a;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    
}

.heading{

    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 20px;
    padding-left: 20px;

}

.logo{

    width: 70px;
    height: 70px;
    background-color: black;
    border-radius: 50%;
}


.intro{

    margin-top: 20px;
    font-size: 20px;
    padding-left: 20px;

}
