*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #cf114a;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    
}

.heading{

    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 20px;
    padding-left: 20px;

}

.logo{

    width: 70px;
    height: 70px;
    background-color: black;
    border-radius: 50%;
}


.intro{

    margin-top: 20px;
    font-size: 20px;
    padding: 10px;
    background-color: black;
    width: 1000px;
    margin-left: 20px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    line-height: 1.4;

}


.back-btn{

    position: fixed;
    top: 15px;
    right: 20px;
    background-color: black;
    color: #cf114a;
    padding: 10px 18px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 30px;
    text-decoration: none;

}


.back-btn:hover{
    color: #ff0080;
}


.code-example{

    margin: 20px;
    padding: 20px;
    background-color: rgba(0,0,0,0.2);
    border-radius: 10px;
    font-family: 'Courier New', monospace;
    width: 1000px;

}

.code-example h2{

    padding-bottom: 20px;
}



.code-example pre{

    overflow-x: auto;
    background-color: #222;
    color: white;
    padding: 10px;
    border-radius: 5px;
    width: 100%;

}
