*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: #11cfcf;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    
}

.heading{

    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 20px;
    padding-left: 20px;

}

.logo-div{
    
    height: 60px;
    width: 60px;
    background-color: black;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.logo{

    width: 45px;
    height: 45px;
}


.intro{

    margin-top: 20px;
    font-size: 20px;
    padding: 10px;
    background-color: black;
    margin-left: 20px;
    border-radius: 10px;
    line-height: 1.5;
    margin-right: 20px;
    
}


.back-btn{

    position: fixed;
    top: 15px;
    right: 20px;
    background-color: black;
    color: #11cfcf;
    padding: 10px 18px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 30px;
    text-decoration: none;

}


.back-btn:hover{
    color: #00aeff;
}


.code-example{

    margin: 20px;
    padding: 20px;
    background-color: rgba(0,0,0,0.2);
    border-radius: 10px;
    font-family: 'Courier New', monospace;

}

.code-example h2{

    padding-bottom: 20px;
}



.code-example pre{

    overflow-x: auto;
    background-color: #222;
    color: white;
    padding: 10px;
    border-radius: 5px;

}
