*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: #11cfcf;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    
}

.heading{

    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 20px;
    padding-left: 20px;

}

.logo-div{
    
    height: 60px;
    width: 60px;
    background-color: black;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.logo{

    width: 45px;
    height: 45px;
}


.intro{

    margin-top: 20px;
    font-size: 20px;
    padding-left: 20px;

}
